{% load static %}
<footer class="footer-area section-padding-2 bg-bluegray pt-80">
            <div class="container-fluid">
                <div class="footer-top pb-40">
                    <div class="row">
                        <div class="col-lg-3 col-md-8 col-12 col-sm-12">
                            <div class="footer-widget mb-30">
                                <a href="index.html#"><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
                                <div class="footer-about">
                                    <p>
                                        С другой стороны, мы осуждаем с праведным негодованием и не любим мужчин, которые так обмануты и деморализованы чарами.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6 col-sm-6">
                            <div class="footer-widget mb-30 ml-55">
                                <div class="footer-title-3">
                                    <h3>Компания</h3>
                                </div>
                                <div class="footer-list-3">
                                    <ul>
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="blog.html">Блог</a></li>
                                        <li><a href="contact.html">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 col-sm-6">
                            <div class="footer-widget mb-30 footer-ngtv-mrg1">
                                <div class="footer-title-3">
                                    <h3>Продукт</h3>
                                </div>
                                <div class="footer-list-3">
                                    <ul>
                                        <li><a href="index.html#">Цены</a></li>
                                        <li><a href="index.html#">Рекомендации</a></li>
                                        <li><a href="index.html#">Акции</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 col-sm-6">
                            <div class="footer-widget mb-30 ml-35">
                                <div class="footer-title-3">
                                    <h3>Помощь</h3>
                                </div>
                                <div class="footer-list-3">
                                    <ul>
                                        <li><a href="index.html#">Введение</a></li>
                                        <li><a href="index.html#">Обратная связь</a></li>
                                        <li><a href="index.html#">Рефералы</a></li>
                                        <li><a href="index.html#">Состояние сети</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 col-sm-6">
                            <div class="footer-widget mb-30 ml-135">
                                <div class="footer-title-3">
                                    <h3>Социальная сеть</h3>
                                </div>
                                <div class="footer-list-3">
                                    <ul>
                                        <li><a href="index.html#">facebook</a></li>
                                        <li><a href="index.html#">Twitter</a></li>
                                        <li><a href="index.html#">Linkedin</a></li>
                                        <li><a href="index.html#">instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- social icons test -->
                <div class="a-social-b">
            
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>

                </div>
                <div class="footer-bottom pt-40 border-top-1">
                    <div class="row">
                        <div class="col-xl-7 col-lg-10 col-md-11 ml-auto mr-auto">
                           
                        </div>
                    </div>
                    <div class="copyright-3 text-center pt-20 pb-20 border-top-1">
                        <p>Copyright © <a href="index.html#">Zylya</a>. All Right Reserved</p>
                    </div>
                </div>

            </div>
        </footer>